<head>
    <title>Game Service - home page </title>
    <link rel="stylesheet" href="home.component.css" />
</head>
<body>
  <div class="filters">
    <mat-form-field>
      <mat-label>Sort</mat-label>
      <mat-select >
        <mat-option value="name">Name</mat-option>
        <mat-option value="released">Released</mat-option>
        <mat-option value="rating">Rating</mat-option>
        <mat-option value="metacritic">Metacritic</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
<!--<div class="container">
  <div class="game-header">
    <h1>home</h1>
  </div>
</div>-->

<div class="games">
  <ng-container *ngFor="let game of games">
    <div class="game" (click)='openGameSite(game.gameName)'>
      
      <div class="thumb-container">
        <!--   
         
        -->
        <img 
        *ngIf="game.gameCover"
          src="{{ game.gameCover }}"
          alt="thumbnail"
          class="thumbnail"
        />
        <p *ngIf="!game.gameCover">No image</p>
      </div>
      <div class="description">
        <p class="name">{{game.gameName}}</p>
        <div class="platforms">
          
        <p class="kategorie">kategorie</p>
        </div>
      </div>
    </div>
  </ng-container> 
</div> 
</body>
