<head>
    <title>Game Service - home page </title>
    <link rel="stylesheet" href="home.component.css" />
</head>
<body>
  <div class="filters">
    <mat-form-field>
      <mat-label>Sort</mat-label>
      <!--
      <mat-select panelClass="sort-select" [(ngModel)]="sort">
        <mat-option value="name">Name</mat-option>
        <mat-option value="released">Released</mat-option>
        <mat-option value="rating">Rating</mat-option>

      </mat-select>
    -->
    </mat-form-field>
  </div>

<div class="container">
  <div class="game-header">
    <h1>home</h1>
  </div>
</div>

  
</body>
