<head>
  <title>Game Service - Login</title>
  <link rel="stylesheet" href="login.component.css" />
</head>

<body>
  
    <div class="login-box">
      <h1>Login</h1>
      <form>
        <label>Username</label>
        <input #userName type="user" placeholder="" />
        <label>Password</label>
        <input #passwordName type="password" placeholder="" />
        <input (click)='sendRequestUser(userName.value, passwordName.value)' type="button" value="Submit" />
      </form>
    </div>
    <p class="para-2">
      Not have an account? <a href="/register">Sign Up Here</a>
    </p>
    
  </body>
